@mixin lg {
    @media ( max-width: 1024px ){
        @content;
    }
}

@mixin md {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}